.card{
    background-image: url(../../assets/images/bg-shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-color{
    background-color: #E7FE29;
}